p {
letter-spacing: 2px;
line-height: 12px;
text-aligh: justify;
text-decoration:line-thought;
text-indent: 27px;
text-shadow: violet 7px 7px 7px;
text-transform: uppercase;
word-spacing: 12px;
}